<div class="email" style="font-size: 12px; font-weight: bold; margin: 20px">
	<p>По всем вопросам пишите на почту:</p>
	<%= mail_to 'aramyanartur94@gmail.com',
							'AramyanArtur@gmail.com', 
							{ style: 'color: #B00100;' }	
	%>
</div>
